# {{ ansible_managed }}

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# Home Network/Private Network
auto {{ lookup('ansible.builtin.env', 'SH_PROX_PROX_INTERFACE') }}
iface {{ lookup('ansible.builtin.env', 'SH_PROX_PROX_INTERFACE') }} inet static
    address {{ lookup('ansible.builtin.env', 'SH_PROX_PROX_IPADDRESS') }}/{{ lookup('ansible.builtin.env', 'SH_PROX_NETMASK_SHORT') }}
    gateway {{ lookup('ansible.builtin.env', 'SH_PROX_GATEWAY') }}
    dns-nameservers {{ lookup('ansible.builtin.env', 'SH_PROX_DNSONE') }} {{ lookup('ansible.builtin.env', 'SH_PROX_DNSTWO') }}
